* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --backgroun-color: #ebffe4;
  --primery: #5cbe3a;
  --secondery: #e5f2e1;
  --white-color: #ffffff;
  --black-color: #2d2d2d;
  --tertialy: #cafdbb;
  --quaternary: #f6fff3;
  --gray: #e5f2e1;
}
body {
  /* border: 1px solid red; */
  /* background: var(--backgroun-color); */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}
/* general style */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.paragraph {
  font-size: clamp(0.75rem, 2vw, 1rem);
  color: gray;
}
.section-center {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  /* margin-bottom: 2rem; */
  max-width: 1200px;
  padding-bottom: 2rem;
}
.full-header {
  padding-top: 2rem;
  background: var(--backgroun-color);
}
.btn {
  border: none;
  padding: clamp(0.5rem, 1vw, 0.75rem) clamp(0.75rem, 2vw, 2rem);
  font-size: clamp(0.65rem, 2vw, 1rem);
  text-transform: uppercase;
  background: var(--primery);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn.secondary {
  color: var(--primery);
  background: var(--backgroun-color);
  border: 0.5px solid var(--primery);
}
.small-btn {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.highlight {
  color: var(--primery);
  font-weight: 600;
}

.dark-text {
  color: gray;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.title-one {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-transform: capitalize;
  text-align: left;
}

.title-two-center {
  width: 100%;
  font-size: clamp(0.75rem, 3vw, 2rem);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.title-two-left {
  font-size: clamp(0.75rem, 3vw, 2rem);
  text-transform: capitalize;
}

.title-three {
  font-size: clamp(0.75rem, 1.75vw, 1.25rem);
  text-transform: uppercase;
}
.title-four {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 650;
}
.bold-txt {
  font-weight: 600;
}
.super-bold {
  font-weight: 700;
}

/*end of general style */

/* nav bar style */
.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  position: relative;
  width: 50px;
  height: 20px;
  left: -5px;
}

.nav-lists {
  list-style-type: none;
  padding: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background: var(--tertialy);
  z-index: 2;
  row-gap: 0.5rem;
  width: 100%;
  max-width: 200px;
  height: 50vh;
  text-align: left;
  display: none;
}

.nav-list {
  text-transform: capitalize;
  color: gray;
  font-weight: 500;
  cursor: pointer;
}

.exit {
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: rgb(253, 45, 45);
  font-size: 2rem;
  cursor: pointer;
}
.nav-list.active {
  color: black;
}
.nav-menu {
  font-size: 2rem;
  display: flex;
  cursor: pointer;
}

.nav-btn {
  display: none;
}
/* end of nav bar style */

/* banner section */
.banner {
  position: relative;
  min-height: calc(100vh);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}

.banner-images {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-image {
  transform: rotate(-20deg);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.information {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.select-images {
  width: 270px;
  height: 130px;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-image {
  max-width: 70px;
  height: auto;
  border: 0.5px solid var(--tertialy);
  border-radius: 50%;
  background: var(--white-color);
  cursor: pointer;
}

.select-image.active {
  background: #b3e141;
}

/* end of banner section */

/* products */
.products {
  padding-top: 2rem;
  width: 100%;
  background: var(--white-color);
  min-height: 50vh;
  width: 100%;
}
.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 3rem;
  /* border: 1px solid red; */
}

.products-list .product {
  min-height: 200px;
  text-align: center;
  line-height: 2rem;
  /* border: 1px solid red; */
}

.product-img-container {
  background: linear-gradient(to bottom, var(--white-color), var(--quaternary));
  border-bottom: 1.5px solid var(--tertialy);
}
.select-image,
.product-img-container {
  border-radius: 50%;
  width: 100%;
  overflow: hidden;
}
.review-c {
  width: 100%;
}
.inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.product-img-container img,
.select-image img,
.about-c img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  object-fit: contain;
  display: block;
}
.about-c img {
  object-fit: cover;
  object-position: 90%;
}
/*end of products */

/* video style */
.video {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.video-info {
  width: 100%;
  /* max-width: 500px; */
  height: 90%;
  background: var(--quaternary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  z-index: 1;
}
.video-info p {
  z-index: 10;
}
.video-player {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.video-player::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #81d066;
  opacity: 0.3;
}
.video-player::after {
  content: " \25B6";
  /* content: "▶"; */
  font-size: clamp(1.75rem, 2vw, 2.5rem);
  position: absolute;
  width: clamp(45px, 4vw, 80px);
  height: clamp(45px, 4vw, 80px);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #81d066;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-text {
  position: absolute;
  left: 50%;
  bottom: calc(50% + 2rem);
  transform: translate(-50%, 50%);
  z-index: 0;
  font-size: 7rem;
  text-transform: capitalize;
  color: var(--gray);
  font-family: Raleway;
  font-weight: 700;
}
/*end of video style */

/* review style */
.abouts {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  background: var(--white-color);
  margin: 0 auto;
}
.about-img {
  width: 100%;
  max-width: 450px;
  height: 100%;
  position: relative;
  margin-left: 2rem;
}

.about-c {
  border-radius: 5px;
  overflow: hidden;
}
.about-img::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1rem;
  left: -1rem;
  border: 0.5rem solid var(--gray);
  border-radius: 10px;
}

.about-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background: url();
  padding: 0 0 0 2rem;
}
.about-txt {
  width: 100%;
  display: flex;
}
.nike-mark {
  max-width: 50px;
  max-height: 100%;
}
.nike-mark img {
  width: clamp(1rem, 2vw, 4rem);
  height: clamp(0.75rem, 1.5vw, 2rem);
  object-fit: cover;
}
/* end of about style */
/* review style */
.review {
  position: relative;
  width: 100%;
  min-height: 70vh;
  background: var(--white-color);
}
.review-btn {
  padding: 0.75rem 1.2rem;
  background: var(--white-color);
  border: 0.0125px solid var(--primery);
  color: var(--primery);
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 2rem;
  font-size: 2rem;
  color: var(--primery);
}
.actions {
  position: relative;
  transform: translateY(75%);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  row-gap: 2rem;
}
.slider-dots {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0 1rem;
}

.slider-dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--quaternary);
}
.slider-dots span.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primery);
}

.customer-review-container {
  position: absolute;
  top: calc((70vh - 350px) / 2);
  left: 30%;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  box-shadow: 0px 0px 20px 0px rgb(243, 242, 242);
  padding: 3rem;
  z-index: 1;
}
.customer-review {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0 2rem;
  border-block-end: 1px solid gray;
}

.customer-img {
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-comment {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.customer-rate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate span i {
  color: gold;
}

.rectangle {
  position: absolute;
  right: 20%;
  top: 0;
  background: var(--gray);
  width: 20%;
  height: 100%;
  z-index: 0;
}

.vertival-year {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 12rem;
  font-weight: 700;
  color: var(--gray);
  writing-mode: vertical-lr;
}

/* end of review style */
/* contact style */
section.contact {
  min-height: 40vh;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  background: var(--backgroun-color);
  padding: 2rem 10rem;
  text-align: center;
  text-wrap: balance;
  margin: 7rem auto;
}
/* footer */
hr {
  color: var(--gray);
  opacity: 0.3;
}
footer.footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-logo {
  width: 100px;
  height: 30px;
}
.footer-nav {
  display: flex;
  gap: 0 2rem;
  list-style: none;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 2rem;
}
.social span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primery);

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.end {
  width: 100%;
  height: 30px;
  background: var(--primery);
}
/* end of footer */

/* end of contact style */
/* responsive section */

@media screen and (min-width: 922px) {
  /* general style */

  .section-center {
    padding: 0 5rem;
    padding-bottom: 6rem;
  }
  /* end of general style */

  /* nav section */
  .nav-lists {
    position: static;
    background: transparent;
    color: red;
    flex-direction: row;
    gap: 0 2rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .logo {
    position: relative;
    width: 100px;
    height: 30px;
    left: -15px;
  }
  .exit {
    display: none;
  }
  .nav-btn {
    display: flex;
  }

  .nav-menu {
    display: none;
  }
  /* end of nav section */

  /* banner */
  .banner {
    min-height: calc(100vh - 80px);
  }
  .banner-info {
    width: 40%;
    align-items: start;
  }

  .banner-images {
    width: calc(60% - 2rem);
  }
  .select-images {
    bottom: 0;
  }
  /*end of banner */
  /* product style */
  .products {
    padding-top: 5rem;
  }
  /*end of product style */
  /* video style */
  .video-info {
    width: 45%;
    /* max-width: 500px; */
    height: 100%;
    background: var(--quaternary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5rem;
    gap: 1.5rem;
    z-index: 1;
  }
  .video-player {
    position: relative;
    left: -75px;
    width: 45%;
    /* max-width: 500px; */
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
  }
  .vertical-text {
    position: absolute;
    left: 2.25rem;
    bottom: calc(50% - 5rem);
    transform: translate(-50%, 50%);
    z-index: 0;
    font-size: 7rem;
    text-transform: capitalize;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--gray);
    font-family: Raleway;
    font-weight: 700;
  }
  /*end of video style */

  /* about style */
  .about-info {
    width: 40%;
  }
  /* end of about style */
}

/* end of responsive section */

.star {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 100px;
  height: 100px;
  background-color: var(--primery);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
